*.a
*.annot
*.cmi
*.cmx
*.cmxa
*.o
*.omc
.ditz-config
.omakedb
.omakedb.lock
src/Lexer.ml
src/Parser.automaton
src/Parser.ml
src/Parser.mli
src/run
src/run.opt
tests/Lexer.ml
tests/Lexer.mli
tests/Parser.ml
tests/Parser.mli
tests/Parser.output
tests/list.tmp
tests/run_test
tests/run_test.opt
