*.a
*.annot
*.cmi
*.cmx
*.cmxa
*.o
*.omc
.ditz-config
.omakedb
.omakedb.lock
doc/*.html
doc/BlockLexer.ml
doc/InlineLexer.ml
doc/Parser.ml
doc/Parser.mli
doc/Parser.output
doc/html
doc/rst2html
doc/rst2html.opt
src/Lexer.ml
src/Parser.automaton
src/Parser.ml
src/Parser.mli
src/run
src/run.opt
tests/Lexer.ml
tests/Lexer.mli
tests/Parser.ml
tests/Parser.mli
tests/Parser.output
tests/list.tmp
tests/ping
tests/ping.opt
tests/pong
tests/pong.opt
tests/run_test
tests/run_test.opt
