
body {
    margin: 0px;
    padding: 0px;
}

h1 {
    background: #d9f0c7;
    padding: 10px;
}

body > h1 {
    background: #fbb4d9;
    margin: 0px;
}

header {
    background: #ffff00;
    text-align: center;
}

header a:link, header a:visited {
    color: black;
    text-decoration: none;
}

section {
    padding-left: 10px;
}

/**
 * vim: tabstop=4 shiftwidth=4 expandtab softtabstop=4
 */
